version: '3.1'
services:
  mongo:
    image: mongo:latest
    container_name: mongo
    hostname: localhost
    restart: always
    expose:
      - 27017
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: jwt
    volumes:
      - ./pw.js:/etc/mongo

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    expose:
      - 8081
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root